fastapi==0.109.2
uvicorn==0.27.1
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
yfinance==0.2.61
pandas==2.2.0
aiohttp==3.9.3
typing-extensions>=4.12.0
pydantic==2.11.4
setuptools>=65.5.1
wheel>=0.40.0
aiocron==1.8 